<template>
  <div>
    <div class="feedback" >
      <h1>CUSTOMERS FEEDBACK</h1>
    </div>
    <div v-for="(feedback,index) in listFeedback" :key="index">
      <div class="block-feedback">
        <p>{{feedback.content}}</p>
        <div class="grid grid-cols-3 my-3 w-full">
          <div class="flex justify-center">
            <img src="@/assets/images/home/profile.png" alt="profile" class="w-[18px] h-[18px]"/>
            <span class="text-[0.8em] italic ml-1">{{feedback.author}}</span>
          </div>
          <div class="flex justify-center">
            <img :src="feedback.flag" alt="profile" class="w-[16px] h-[11px] mt-1"/>
            <span class="text-[0.8em] italic ml-1">{{feedback.country}}</span>
          </div>
          <div class="text-center">
            <a href="#" class="underline italic text-[12.16px] text-[#CCC]">Visit Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import usFlag from '@/assets/images/countries/us.png';
import enFlag from '@/assets/images/countries/en.png';
import mxFlag from '@/assets/images/countries/mx.png';

  const listFeedback = ref([
    {
      content:'"I\'ve been using PROVideos4djs for several years and highly recommend it! Great prices,\n' +
          '        fast and fantastic selection of all types of music! You don\'t need any other\n' +
          '        video service! DJ Bruce Devery,\n' +
          '        Bilboard Magazine Reporting Club DJ"',
      author:' DJ Bruce Devery',
      country:'Tampa, Florida, United States of America (the)',
      flag:usFlag
    },
    {
      content:'"I have been a DJ professionally for over 18 years and Provideos4djs has been providing me with high quality videos for several of them. Great customer service and value for money. Personally I only use them... the quality of the videos is amazing and better than competitors in the market.They have a great selection, and are quick to update their library never leaving me behind in current trends. Amazing service, Amazing Quality, Amazing Price"',
      author:'DJ Darren Smith',
      country:'Northampton, England',
      flag:enFlag
    },
    {
      content:'"En mi trayectoria de más de 30 años en el ser DJ siempre he buscado tener la mejor calidad en el material que ofrezco a la audiencia en turno, en esta búsqueda hace poco más de 3 años encontré a ProVideos un Video pool dónde he encontrado una calidad máxima y a la vez calidez en el trato y soporte por parte de el equipo que lo conforma, ¡han mantenido esa nivel de calidad siempre!. Lleves poco o mucho tiempo en esta bella profesión de DJ o VDJ sin duda ProVideos4djs es esencial para nuestro trabajo"',
      author:'DJ Jorge Del Aguila',
      country:'Ciudad de México, Mexico',
      flag:mxFlag
    },
  ])
</script>
<style lang="scss">
.feedback {
  display: inline-block;
  border: 2px solid #080808;
  @apply bg-[#151618] w-full overflow-hidden rounded-[8px] mt-7;
  h1 {
    margin: 0;
    padding: 6px 0 6px 10px;
    @apply inline-block bg-[#6F2F96] text-[#fff] font-bold h-[45px] text-left w-full text-[20.8px];
  }
}
.block-feedback {
  border-bottom: 1px solid #6f4b92;
  @apply w-full h-auto overflow-hidden bg-[#261b47] mb-[5px] text-white p-[5px] mt-[10px] rounded-[8px];
  p {
    padding: 2px 8px;
    font-family: Helvetica, Arial, Verdana;
    border-bottom: 1px solid #5f3389;
    @apply italic text-[0.95em] pb-[8px];
  }
}
</style>