<template>
  <div class="footer">
    <div class="flex justify-between w-[95%] mt-[10px]">
      <span class="text-left">
        <a href="/" class="text-[#cc66cc] hover:text-[#F39]">HD Videos</a> - <a href="/" class="text-[#cc66cc] hover:text-[#F39]">SD Videos</a>
      </span>
      <span class="text-right">
        <a href="/" class="text-[#cc66cc] hover:text-[#F39]">Terms of use</a> |
        <a href="/" class="text-[#cc66cc] hover:text-[#F39]">Privacy Policy</a> |
        <a href="/" class="text-[#cc66cc] hover:text-[#F39]">Contact</a> |
        <a href="/" class="text-[#cc66cc] hover:text-[#F39]">FAQ</a>
      </span>
    </div>
    <div class="menu-footer mt-[15px]">
      <h4 class="italic">EXPLORE PROVideos4djs</h4>
      <div class="menu-item">
        <ul class="flex ml-[50px]">
          <li><a href="/" class="text-[#999] hover:text-white">Become Member</a></li>
          <li><a href="/" class="text-[#999] hover:text-white">Download Videos</a></li>
          <li><a href="/" class="text-[#999] hover:text-white">Visit Our Blog</a></li>
          <li><a href="/" class="text-[#999] hover:text-white">Support</a></li>
        </ul>
      </div>
    </div>
    <div class="text-[12px] mt-[20px]">
      Provideos4djs.com © 2023
    </div>
  </div>
</template>
<style lang="scss">
.footer {
  border-top: 8px solid #F9F9F9;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  @apply block ml-[40px] w-full bg-[#131313] text-[12px] text-white h-[265px] px-[30px];
  a {
    @apply underline;
  }
  .menu-footer {
    @apply text-[15px] font-bold p-0;
    .menu-item {
      border-bottom: 2px solid purple;
      border-top: 2px solid purple;
      @apply w-[95%];
      ul {
        list-style-type: disc;
        @apply mt-[20px] mb-[60px];
        li {
          @apply w-[150px];
          a {
            @apply text-[12px];
          }
        }
      }
    }
  }
}
</style>