<template>
  <div class="header">
    <a href="/">
      <img src="@/assets/images/home/logo.png" alt="logo" class="float-left"/>
    </a>
    <div class="statics float-right">
      <div class="total_videos">{{total_videos}}</div>
      <div class="invitation"></div>
    </div>
  </div>
</template>
<script lang="ts" setup>
  const total_videos = ref(0)

  onMounted(()=>{
    total_videos.value = 55363
  })
</script>
<style lang="scss">
.header {
  height: 190px;
  width: 100%;
  margin-left: 40px;
  background: url('@/assets/images/home/opacidad.png');
  @apply px-[50px] pt-[30px];

  .statics {
    background: url('@/assets/images/home/statics.png') no-repeat;
    @apply w-[219px] h-[119px] mr-[38px];
    .total_videos {
      font: bold 14px Arial, Helvetica, sans-serif;
      letter-spacing: 1px;
      color: #d5187a;
      float: left;
      margin-left: 100px;
      margin-top: 14px;
    }
    .invitation {
      width: 190px;
      height: 20px;
      cursor: pointer;
      float: left;
      position: relative;
      top: 15px;
      left: 15px;
    }
  }
}
</style>