<template>
  <div class="block">
    <div class="block-login" v-if="!isAuthenticated">
      <h3>LOGIN</h3>
      <form class="w-full text-center">
        <input v-model="email" type="email" class="input-login mb-[6px]" placeholder="Username"/>
        <input v-model="password" type="password" class="input-login mb-[6px]" placeholder="Password"/>
        <button class="btn-login" @click="login">LOGIN</button>
        <a href="/" class="text-[#ccc] text-[16px] hover:text-white underline">Lost password?</a>
      </form>
    </div>
    <div v-else class="block-login">
      <h3>MY ACCOUNT</h3>
      <div class="my-account">
        <div class="my-account-item">
          <span class="text-[#EEE] font-bold text-[17px]">Account Ends:
            <span class="text-[#E6A23C] text-[11px]">0000-00-00</span>
          </span>
        </div>
        <div class="my-account-item">
          <span class="text-[#EEE] font-bold text-[17px]">Account Email:
            <span class="text-[#E6A23C] text-[11px]">dokhacde1903@gmail.com</span>
          </span>
        </div>
        <div class="my-account-item">
          <span class="text-[#EEE] font-bold text-[17px]">Account Credits:
            <span class="text-[#E6A23C] text-[11px]">Downloads Left: Membership</span><br>
            <span class="text-[#E6A23C] text-[11px]">Downloads | Downloads Pack 0</span>
          </span>
        </div>
        <div class="my-account-item">
          <img @click="logout" src="@/assets/images/home/logout.png" alt="logout" class="cursor-pointer mx-auto mb-1"/>
          <img src="@/assets/images/home/support.png" alt="support" class="cursor-pointer mx-auto mb-2"/>
        </div>
      </div>
    </div>
    <div class="block-information">
      <h3>INFORMATION</h3>
      <a href="/" class="information-item">Privacy Policy</a>
      <a href="/" class="information-item">FAQ</a>
      <a href="/" class="information-item">Terms & Conditions</a>
    </div>
  </div>
</template>
<script lang="ts" setup>
  const email = ref('')
  const password = ref('')
  const isAuthenticated = useCookie('isAuthenticated')
  const login =()=> {
    if(email.value == 'dokhacde1903@gmail.com' && password.value=='123456') {
      isAuthenticated.value = 'true'
      window.location.href = '/'
    }
    else {
      alert('Wrong User or password')
    }
  }

  const logout = () => {
    localStorage.removeItem('preindex')
    isAuthenticated.value = 'false'
    window.location.href = '/'
  }
</script>
<style lang="scss">
.block-login {
  display: inline-block;
  border: 2px solid #080808;
  @apply bg-[#151618] w-full overflow-hidden mb-[10px] pb-[10px] rounded-[8px];
  .input-login {
    border: 1px solid #0e0e0e;
    @apply bg-[#292929] text-[#e1e1e1] p-[7px] text-[1rem] w-[90%] mx-[10px] mt-2 rounded-[7px] h-[34px] placeholder:text-[#888] pb-[8px];
  }
  .btn-login {
    border: 1px solid #0e0e0e;
    background: linear-gradient(#333, #000);;
    @apply h-[31px] w-[95px] text-white flex mx-auto justify-center rounded-[7px] text-[1rem] hover:text-[#FCEDB1];
  }
  h3 {
    margin: 0;
    padding: 10px 0 6px 10px;
    @apply inline-block bg-[#6F2F96] text-[#fff] font-bold text-[16px] h-[45px] text-left w-full;
  }
}
.my-account {
  @apply mx-3;
  .my-account-item {
    @apply bg-[#252525] w-full py-1 px-2 mt-1 text-center;
  }
}
.block-information {
  display: inline-block;
  border: 2px solid #080808;
  @apply bg-[#151618] w-full overflow-hidden rounded-[8px];
  h3 {
    margin: 0;
    padding: 10px 0 6px 10px;
    @apply inline-block bg-[#6F2F96] text-[#fff] font-bold text-[16px] h-[45px] text-left w-full;
  }
  .information-item {
    border-top: 1px solid #4a4a4a;
    @apply w-full text-[#ccc] inline-block h-[35px] px-[10px] pt-[8px] pb-[8px] text-[13px] font-bold hover:underline;
  }
}
</style>