<template>
  <div class="menu">
    <div :class="route.path == '/' ?'block-item-menu-selected' :'block-item-menu'">
      <a href="/" :class="route.path == '/'?'menu_item_selected':'menu_item'">HOME</a>
    </div>
    <div class="block-item-menu" v-if="!isAuthenticated"><a href="/" class="menu_item">BECOME MEMBER</a></div>
    <div class="block-item-menu" v-if="isAuthenticated"><a href="/" class="menu_item">SHOPPING</a></div>
    <div :class="route.path == '/downloads' ?'block-item-menu-selected' :'block-item-menu'"><a href="/" :class="route.path == '/downloads'?'menu_item_selected':'menu_item'">DOWNLOADS</a></div>
    <div class="block-item-menu"  v-if="isAuthenticated"><a href="/" class="menu_item">CHARTS</a></div>
    <div class="block-item-menu" v-if="!isAuthenticated"><a href="/" class="menu_item">MY ACCOUNT</a></div>
    <div class="block-item-menu" v-if="isAuthenticated"><a href="/" class="menu_item">SETTINGS</a></div>
    <div :class="route.path == '/FAQ' ?'block-item-menu-selected' :'block-item-menu'">
      <a href="/FAQ" :class="route.path == '/FAQ'?'menu_item_selected':'menu_item'">FAQ</a>
    </div>
    <div :class="route.path == '/contact' ?'block-item-menu-selected' :'block-item-menu'">
      <a href="/contact" :class="route.path == '/contact'?'menu_item_selected':'menu_item'">CONTACT</a>
    </div>
  </div>
</template>
<script lang="ts" setup>
const isAuthenticated = useCookie('isAuthenticated')
const route = useRoute()
  onMounted(() => {
    console.log(isAuthenticated.value)
  })
</script>
<style lang="scss">
.menu {
  background: url('@/assets/images/home/menu_back.png') no-repeat;
  @apply flex w-full h-[83px] pl-[85px] pt-[10px];
  .block-item-menu-selected {
    @apply h-[38px] px-3 mr-[20px] bg-[#000] rounded-[6px] pt-[4px];
  }
  .block-item-menu {
    @apply mr-[20px] pt-[5px];
  }
  .menu_item {
    font-family: fantasy;
    background: -webkit-linear-gradient(#333,#555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    @apply relative italic font-bold text-[20px] px-[4px];
  }
  .menu_item:after{
      content: "";
      border: 1px solid white;
    @apply absolute top-[50%] w-full left-[-2px] mt-[-4px];
  }
  .menu_item_selected {
    font-family: fantasy;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    @apply relative italic font-bold text-[20px] px-[4px];
  }
  .menu_item_selected:after{
    content: "";
    border: 1px solid #000;
    @apply absolute top-[50%] w-full left-[-2px] mt-[-4px];
  }
}
</style>