<template>
  <div class="player-content">
    <div class="border-dashed h-[200px]">
      <img width="200" height="200" src="" class="min-h-[200px] h-[200px] float-left mr-4" alt="avt-music"/>
      <div class="grid grid-cols-6 gap-1 text-[#999] text-[10px] mr-2 mt-[30px]">
        <div class="span-4-left bg-black">Song:</div>
        <div class="span-2-right bg-black"></div>
        <div class="span-4-left bg-[#111]">Genre:</div>
        <div class="span-2-right bg-[#111]"></div>
        <div class="span-4-left bg-black">BPM:</div>
        <div class="span-2-right bg-black"></div>
        <div class="span-4-left bg-[#111]">Year:</div>
        <div class="span-2-right bg-[#111]"></div>
        <div class="span-4-left bg-black">Updated:</div>
        <div class="span-2-right bg-black"></div>
        <div class="span-4-left bg-[#111]">Download:</div>
        <div class="span-2-right bg-[#111]"></div>
      </div>
    </div>
    <div class="border-dashed mx-4 p-1 h-[200px]">
      <video width="400" controls class="w-full max-w-[600px] max-h-[350px]">
        <source src="mov_bbb.mp4" type="video/mp4">
        <source src="mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML video.
      </video>
    </div>
    <div class="border-dashed mr-9 p-2 h-[300px]">
      <h4 class="player-history-text">Player History</h4>
      <div class="list-player-history">
        <span class="text-[10px]">Available Only For Members.</span>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.player-content {
  @apply w-full h-auto mt-3 grid grid-cols-3 mx-3;
  .border-dashed {
    border: 1px dashed #111;
    @apply bg-[#000] hover:bg-[#050505];
  }
  .span-4-left {
    @apply col-span-4 h-[19px] px-1;
  }
  .span-2-right {
    @apply col-span-2 h-[19px] px-1;
  }
  .player-history-text {
    @apply text-white p-2 w-full bg-[#222] rounded-[6px];
  }
  .list-player-history {
    @apply w-full h-full max-h-[230px] bg-[#999] px-2 my-3;
  }
}
</style>