<template xmlns="http://www.w3.org/1999/html">
  <div class="main-homepage">
    <div class="block-home">
      <Header/>
      <NavMenu/>
      <div class="min-h-[400px] ml-[40px]">
        <slot/>
      </div>
      <Footer/>
    </div>
    <div :class="!checkPlayer?'player-hide':'player-hide-open'" id="player-hide" class="overflow-hidden">
      <div class="nav-btn" @click="openPlayer">
        <img src="@/assets/images/home/hide.png" class="mx-auto pt-[8px]" alt="hide"/>
      </div>
      <PlayerContent v-if="checkPlayer"/>
    </div>
    <div v-if="preindex" class="blackFade z-10">
      <div class="preindex text-white">
        <div class="flex justify-center pt-[205px]">
          <img src="@/assets/images/home/preindex_agree.png" class="mr-12 cursor-pointer" alt="preindex_agree" @click="closePreindex"/>
          <img src="@/assets/images/home/preindex_disagree.png" alt="preindex_disagree" class="cursor-pointer"/>
        </div>
      </div>
    </div>
    <div v-if="register" class="blackFade z-0">
      <div class="block-register">
        <h2 class="font-bold text-[18px]">BECOME A MEMBER</h2>
        <p class="text-[#ffa500] text-[12px] font-bold">Register now to start using our service right away!</p>
        <form class="register">
            <p class="font-bold text-[12px] h-[34px]">E-mail:</p>
            <input type="email" class="input-register col-span-2"/>
            <p class="font-bold text-[12px] h-[34px]">Password:</p>
            <input type="password" class="input-register col-span-2"/>
            <p class="font-bold text-[12px]">Repeat Password:</p>
            <input type="password" class="input-register col-span-2"/>
            <button class="col-end-4 col-span-2 h-[34px] bg-white text-black w-[130px] ml-[11px]">REGISTER</button>
        </form>
      </div>
    </div>
    </div>
</template>
<script lang="ts" setup>
import NavMenu from "~/components/home/NavMenu.vue"
import Header from "~/components/home/Header.vue"
import Footer from "~/components/home/Footer.vue"
import PlayerContent from "~/components/home/PlayerContent.vue";

const checkPlayer = ref(false)
const preindex = ref(false)
const register = ref(false)

onMounted(() => {
  if(!localStorage['preindex']) {
    preindex.value = true
  }
})
const closePreindex = () => {
  localStorage.setItem('preindex', 'true')
  preindex.value = false
}
const openPlayer = () => {
  checkPlayer.value = !checkPlayer.value
}
</script>
<style lang="scss">
.main-homepage {
  width: 100%;
  background: url('@/assets/images/home/background.png') no-repeat #000 center top;
  min-height: 600px;
  @apply pt-[26px];
  .block-home {
    overflow: hidden;
    width: 1008px;
    @apply mx-auto;
  }
  .player-hide {
    @apply w-full h-auto sticky z-10 bottom-0;
  }
  .player-hide-open {
    transition: height 2s;
    @apply w-full h-[420px] bg-[#050505] sticky z-10 bottom-0;
  }
  .nav-btn {
    @apply w-full h-[30px] bg-[#27282c] cursor-pointer;
  }
  .blackFade {
    background: rgba(0, 0, 0, 0.5);
    @apply w-full h-full left-0 top-0 fixed;
    .preindex {
      background: url('@/assets/images/home/preindex.png') no-repeat;
      @apply w-full max-w-[867px] h-[440px] relative top-[170px] mx-auto z-20;
    }
    .block-register {
      @apply bg-black w-[445px] h-[375px] mx-auto mt-[200px] p-[25px] text-white;
      .register {
      @apply w-[300px] h-[160px] mx-auto mt-[50px] grid grid-cols-3 ;
        .input-register {
          border: 1px solid #0e0e0e;
          //box-shadow: inset 0 0 10px #000;
          @apply bg-[#444] text-[#e1e1e1] p-[5px] text-[1rem] w-full mx-[10px] h-[34px] placeholder:text-[#888] pb-[8px];
        }
      }
    }
  }

}
</style>