<template>
  <div class="home-content grid grid-cols-3">
    <div class="contact-content col-span-2">
      <img src="@/assets/images/home/contact_us.png"/>
      <form class="register gap-4">
        <div class="h-[40px] grid grid-cols-4">
          <span class="font-bold text-[14px] h-[34px] text-amber-50 col-span-1">Name:</span>
          <input type="text" class="input-register"/>
        </div>
        <div class="h-[40px] grid grid-cols-4">
          <span class="font-bold text-[14px] h-[34px] text-amber-50 col-span-1">Subject:</span>
          <input type="text" class="input-register"/>
        </div>
        <div class="h-[40px] grid grid-cols-4">
          <span class="font-bold text-[14px] h-[34px] text-amber-50 col-span-1">Email:</span>
          <input type="text" class="input-register"/>
        </div>
        <div class="h-[40px] grid grid-cols-4">
          <span class="font-bold text-[14px] h-[34px] text-amber-50 col-span-1">Antispam:</span>
          <img src="https://www.provideos4djs.com/Clases/captcha/imagen.php"/>
          <input type="text" class="ml-2 h-[30px] placeholder:text-[#888] bg-[#444] col-span-2"/>
        </div>
        <div class="h-[80px] col-span-2 grid grid-cols-4">
          <span class="font-bold text-[14px] h-[34px] text-amber-50 col-span-1">Message:</span>
          <textarea cols="50" rows="5" class="ml-2 placeholder:text-[#888] px-2 bg-[#444] col-span-3"></textarea>
        </div>
        <div class="h-[40px]">
          <button class="col-end-4 col-span-2 h-[34px] bg-white text-black w-[130px] ml-[11px]">SEND</button>
        </div>
      </form>
    </div>
    <div class="information-account col-span-1">
      <InformationAccount/>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InformationAccount from "~/components/home/InformationAccount.vue";

</script>
<style lang="scss">
.contact-content {
  @apply bg-[#1C1C1C] opacity-[0.9] rounded px-[20px] py-[20px] text-[#ccc] w-[610px] h-[360px] overflow-hidden;
  .register {
    @apply w-full mx-auto mt-[50px] grid grid-cols-2 ;
    .input-register {
      border: 1px solid #0e0e0e;
      //box-shadow: inset 0 0 10px #000;
      @apply ml-2 h-[30px] placeholder:text-[#888] bg-[#444] col-span-3 px-2;
    }
  }
}
</style>