<template>
  <div class="home-content grid grid-cols-3">
    <div class="banner col-span-2">
      <div class="bg-[#292929] ">
        <img class="banner-image" src="@/assets/images/home/banner.jpg" alt="banner"/>
      </div>
      <Feedback v-if="isAuthenticated"/>
    </div>
    <div class="information-account col-span-1">
      <InformationAccount/>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InformationAccount from "~/components/home/InformationAccount.vue";
import Feedback from "~/components/home/Feedback.vue";

const isAuthenticated = useCookie('isAuthenticated')
</script>
<style lang="scss">
.home-content {
  margin-bottom: 20px;
  width: 100%;
  background: url('@/assets/images/home/opacidad.png');
  @apply pl-[50px];
  .banner {
    @apply w-[610px] h-auto overflow-hidden ;
    .banner-image {
      height: 310px;
      position: relative;
    }
    @keyframes blink {
      0% {
        opacity: 1;
      }
      20% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .banner-image {
      animation: blink 6s infinite;
    }
  }
  .information-account {
    @apply w-[240px] h-auto overflow-hidden mx-auto;
  }
}
</style>